<div class='full'>
  <div class='row'>
    <div class='large-10 small-centered columns'>
      <div class='special-title centered-text'>
        <i class='icon-mail'></i>
        <h2>Get In touch with us</h2>
        <p>We are happy to talk to you, est unde inventore sed amet est in voluptas cum ipsa ut sunt minus. Nihil quia et omnis blanditiis eius suscipit quos repudiandae.</p>
      </div>
    </div>
  </div>
</div>
<div class='full yellow'>
  <div class='form'>
    <div class='row'>
      <form action="https://getform.io/f/7132a359-80bf-4a37-917c-61779695139f" method="POST">

        <div class='medium-6 large-6 columns'>
          <input placeholder='NAME' type="text" name="name" required>
          <input placeholder='EMAIL' type="email" name="email" required>
          <input placeholder='SUBJECT' type='text' name="subject" required>
          <input placeholder='Tel'type="tel" name="tel" required>
         
        </div>
        <div class='medium-6 large-6 columns'>
          <textarea placeholder='MESSAGE' type="text" name="message" required></textarea>
          <button class='button white' type="submit">Send</button>
          <div class="g-recaptcha" data-sitekey="6LcCK-8UAAAAACESpLHfmgG_sGbedHZwV4X1BnLa"></div>
          <!-- <input type="hidden" id="captchaResponse" name="g-recaptcha-response" /> -->
        </div>
      </div>
      </form>
    </div>
  </div>
</div>
