$primary-color:#31B74A;
$white:#FFFFFF;
$broken-white:#eeeeee;
$light-gray:#b4b9b4;

#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.8;
    background-color: #ECF0F1;
    z-index: 99;
    text-align: center;
  }
  
  #loading-image {
    animation: rotation 4s infinite linear;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    height:100px;
    z-index: 1000;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  #page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 15rem;
  }
  
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15rem;        
  }

  @media only screen and (max-width: 900px) {
    #content-wrap {
        padding-bottom: 35rem;
      }
      
      #footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 35rem;        
      }
  }

.top-bar {
    //height: 120px;

    .title-area{
        img{
            margin-left:20px;
            width:300px;
        }
        .toggle-topbar{
            top:-50px;
        }
    }
    .top-bar-section{
        .right{
           
            .nav-link-item {
                .nav-link{
                    font-family: audiowide;
                    font-size: 1.1rem;
                    padding-left: 10px;
                    &:hover{
                        background: $primary-color;
                        color:$white;
                        
                    }
                }
                .active{
                    background: $primary-color;
                }
            }
        
        }
    }
}
@media only screen and (max-width: 1024px) {
    .top-bar {
        .title-area{
            img{
                width:200px;
            }
        }
    }
    // .top-bar-section{
    //     margin-top:15px;
    // }
  }

.orbit-container{
    .orbit-timer{
        display: none;
    }
    .orbit-slide-number{
        display: none;
    }
    .orbit-bullets-container {
        position: absolute;
        bottom: 20px;
        width: 100%;
    }
    .orbit-slides-container{
        .orbit-caption{
            top:30%;
        }
    }

    .caption-right {
        text-align: right;
    }
      
    .caption-center {
        text-align: center;
    }
      
    .caption-center-bottom {
        top:490px !important;
        text-align: center;
    } 

    .sliders{
        header {
            height: 100%;
            width: 100%;
            background: black;
            overflow: hidden;
        }
        img {
            width: 100%;
            opacity: 0.4;
        }
        
        .orbit-caption{
            position: absolute;
            
            .title{
                font-family: audiowide;
                color: $white;
                display: inline-block;
                padding: 9px 10px 4px;
                font-size: 2vw;
                letter-spacing: 3px;
            }
            .sub-title{
                font-size: 1.25vw;
            }
            .action{
                color:$white;
                background: $primary-color;
                &:hover{
                    background: darken($primary-color,15);
                }
            }
        }
        @media only screen and (max-width: 1023px) {
            .orbit-caption{
                position: absolute;
                top: 80px;

                .title{
                    font-size: 1rem;
                    letter-spacing: 3px;
                }
                .sub-title{
                    font-size: 1rem;
                }
                .action{
                    display:none;
                }
            }
          }
          @media only screen and (max-width: 640px) {
            .orbit-caption{
                position: absolute;
                top: 20px;

                .title{
                    font-size: 1rem;
                    letter-spacing: 3px;
                }
                .sub-title{
                    font-size: 1rem;
                }
                .action{
                    display:none;
                }
            }
          }
    }
}

.footer-container{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    background:rgb(30, 49, 38);
    height:auto;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 0 20px;
    flex-wrap: wrap;
    
    .footer-item{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px,20px;
        //margin-top:20px;
    }
    .item-left{
        color:$light-gray;
        width: 300px;
        flex-flow: column wrap;
        font-family: audiowide;
        justify-content: center;
    }
    .item-center{
        display: flex;
        width: 500px;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .item-center-content{
        display: flex;
        justify-content: center;
        flex-grow: 1;
    }
    .footer-logo{
        margin-bottom: 20px;
    
        >a{
            color:$light-gray;
            text-decoration: none;
            font-size: 3rem;
            font-family: audiowide;
        }
    }
    .socials{
        flex-flow: row wrap;
        margin-left:10px;
    }
    .copyright{
        padding: 40px 0 0;
        color: $light-gray;
        font-size: 0.8rem;
        font-family: audiowide;
    }
    .item-right{
        width: 100px;
        flex-flow: column wrap;
        justify-content: center;
        >a{
            color:$light-gray;
            text-decoration: none;
            font-family: audiowide;
            margin-bottom: 20px;
        }
    }
}

.bg-4 {
    background: url(/images/bg-4.jpg) center center no-repeat;
    background-size: cover;
    position:relative;
    font-family: audiowide;
    
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(to bottom right,#002f4b,#082502);
      opacity: .6; 
    }
  }

  .bg-1 {
    background: url(/images/bg-1.jpg) center center no-repeat;
    background-size: cover;
  }
  
  .bg-2 {
    background: url(/images/bg-2.jpg) center center no-repeat;
    background-size: cover;
  }
  
  .bg-3 {
    background: #31B74A; /* background: url(../images/who-we-are-bg.jpg) center center no-repeat; */
    background-size: cover;
  }