<!DOCTYPE html>
<html class='no-js' lang='en'>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta content='width=device-width, initial-scale=1.0' name='viewport'>
  <link
    href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|Droid+Serif:400,700,400italic,700italic'
    rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto&display=swap" rel="stylesheet">
  <link href='{{ site.url }}/css/framework.css' rel='stylesheet'>
  <link href='{{ site.url }}/css/syntax.css' rel='stylesheet'>
  <link href='{{ site.url }}/css/style.css' rel='stylesheet'>
  <link rel="stylesheet" href="{{ site.url }}/assets/css/styles.css">
  <link href='{{ site.url }}/css/fontello.css' rel='stylesheet'>
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" type="image/png" href="{{ site.url }}/favicon.png">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <script src='{{ site.url }}/js/modernizr.js'></script>
  <script src="https://www.google.com/recaptcha/api.js"></script>
</head>

<body>
  <div id="loading">
    <img id="loading-image" src="{{site.url}}/images/logo_icon.svg" alt="Loading..." />
  </div>
  <div id="page-container">
    <div id="content-wrap">
      <div class='contain-to-grid sticky'>
        <nav class='top-bar' data-options='sticky_on: large' data-topbar=''>
          <div class='title-area'>
            <a href="/index.html">
              <img class="logo" src='{{site.url}}/images/yazerber_logo.svg'>
            </a>
          </div>
          <ul class='title-area'>
            <li class='toggle-topbar menu-icon'>
              <a href='#'>Menu</a>
            </li>
          </ul>
          <section class='top-bar-section'>
            <ul class="right">
              {% for item in site.data.nav %}
              {% if item.section_id == page.section_id %}
              {% assign active_class = "active" %}
              {% else %}
              {% assign active_class = "" %}
              {% endif %}

              {% if item.children %}
              <li class="has-dropdown {{active_class}} nav-link-item">
                <a class="nav-link" href="{{site.url}}/{{ item.path }}">{{ item.name }}</a>
                <ul class='dropdown'>
                  {% for child in item.children %}
                  <li>
                    <a href="{{site.url}}/{{ child.path }}">{{ child.name }}</a>
                  </li>
                  {% endfor %}
                </ul>
              </li>
              {% else %}
              <li class="{{active_class}} nav-link-item">
                <a class="nav-link" href="{{site.url}}/{{ item.path }}">{{ item.name }}</a>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
          </section>
        </nav>
      </div>


  {{ content }}

    </div>
    <div id="footer" class='footer-container'>
      <div class='footer-item item-left'>
        <p><i class="icon-phone "></i> +251111555555</p>
        <p><i class="icon-phone"></i> +251911243302</p>
        <p>Bole, Addis Ababa, Ethiopia</p>
        <p>PoBox: 1078</p>
      </div>
      <div class='footer-item item-center'>
        <div class="item-center-content footer-logo">
          <a href="index.html">YAZERBER</a>
        </div>
        <div class='item-center-content socials'>
          <a href='https://twitter.com/yazerber'>
            <i class='icon-twitter yellow'></i>
          </a>
          <a href='https://www.facebook.com/Yazerber-Animal-Production-Center-105053814222185'>
            <i class='icon-facebook yellow'></i>
          </a>
          <a href='#'>
            <i class='icon-linkedin yellow'></i>
          </a>
          <a href='#'>
            <i class='icon-instagram yellow'></i>
          </a>
          <a href='#'>
            <i class='icon-pinterest yellow'></i>
          </a>
          <a href='mailto:yazerber@gmail.com' mail-to>
            <i class='icon-mail yellow'></i>
          </a>
        </div>
        <div class='item-center-content copyright'>
          <em>Copyright 2020 YAZER<em class="ber">BER</em> PLC</em>
        </div>
      </div>
      <div class='footer-item item-right'>
        {% for item in site.data.nav %}
        <a class="nav-links" href="{{site.url}}/{{ item.path }}">{{ item.name }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
  <script src='{{ site.url }}/js/jquery.min.js'></script>
  <script src='{{ site.url }}/js/foundation.min.js'></script>
  <script src='{{ site.url }}/js/jquery.countTo.js'></script>
  <script src='{{ site.url }}/js/jquery.appear.js'></script>
  <script src='{{ site.url }}/js/app.js'></script>
  <script>
    $(window).load(function () {
      $('#loading').hide();
    });
  </script>
</body>

</html>